/* modelo-caixa */

/* .conteudo{
    /* border: 1px solid red;
    padding-top: 20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;

    padding:20px 15px 10px 5px;

    padding:20px;

    margin-top: 20px;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:20px;

    margin: 10px;

    width:150px;
}
.conteudo2{
    border: 1px solid red;
    margin:50px;
    width:150px;
} */ 
/* #noticia{
    background:#f9f9f9;
    border:1px solid gray;
    padding:10px;
}
h2{
    margin:0px;
} */

/* elementos flutuantes */
/* 
.conteudo{
    background:blue;
    border:1px solid gray;
    width: 200px;
    height:200px;
    margin:10px;
    float:left;
} */

/* .conteudo1{
    background:red;
    border:1px solid gray;
    width: 200px;
    height:200px;
    margin:10px;
    float:left;
} */
/* .conteudo-zero{
    background:red;
    border:1px solid gray;
    width: 200px;
    height:200px;
    margin:10px;
}

.clear{
    clear:both;
}

#principal{
    border:5px solid red;
    background: green;
} */

/* elementos flutuantes - prática */

/* body{
    background:#f4f4f4;
}

#principal{
    width:920px;
    border:1px solid red;
}

.noticia{
    background:#e5e5e5;
    padding:5px;
    width:280px;
    margin:7px;
    float:left;
}

.clear{
    clear:both;
}

.imagem-galeria{
    background: white;
    width:265px;
    padding: 5px;
    float: left;
    margin: 15px;
} */

/* Elementos inline-block */

/* .borda{
    border:1px solid red;
    display: inline-block;
} */

/* Posicionamentos */

/* body{
    background: #007fc7;
}

#container{
    background: #fff;
    width: 800px;
    margin: 10px auto;
    padding:10px;
    position: relative;
}

h1{

}

p{
    width:300px;
}

.relative{
    border: 1px solid red;
    position: relative;
    top:0px;
    left:0px;
    right:20px;
    bottom:-20px;
}

.absolute{
    border: 1px solid red;
    background: #f2f2f2;
    position: absolute;
    top: 80px;
    right: 30px;
}

.fixed{
    border: 1px solid red;
    background: #f2f2f2;
    position: fixed;
    bottom: 0px;
    right:0px;
    margin:0px;
} */

/* Sobrepondo elementos */

/* .conteudo1{
    border:1px solid red;
    background:orange;
    width:200px;
    height:200px;
    position:absolute;
    z-index:2;
}

.conteudo2{
    border:1px solid red;
    background:green;
    width:200px;
    height:200px;
    position:absolute;
    top:80px;
    left:80px;
    z-index:100;
}

.conteudo3{
    border:1px solid red;
    background:yellow;
    width:200px;
    height:200px;
    position:absolute;
    top:160px;
    left:160px;
    z-index:0;
} */

/* Links */

a{
    padding:5px 10px;
    text-decoration:none;
}


a:link, a:visited{
    color:#b9c941;
}

a:hover{
    color:#fff;
    background:#6d790f;
}

a:active{
    color:#e4f371;
}